<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  In this context '~' refers to the wwwroot folder -->
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="top">
        <p>home</p>
        <hr>
        <a href="/project">Project</a>
        <hr>
        <a href="/contact">Contact</a>
    </div>
    <h3>About Me</h3>

    <div id="me">
        <div></div>
        <p>Brian Ho</p>
        <p>I like Stuff</p>
    </div>

    <div id="Bio">
        <p>Fat new smallness few supposing suspicion two. 
        Course sir people worthy horses add entire suffer. How one dull get busy dare far. 
        At principle perfectly by sweetness do. As mr started arrival subject by believe. 
        Strictly numerous outlived kindness whatever on we no on addition. 
        Particular unaffected projection sentiments no my. Music marry as at cause party worth weeks. 
        Saw how marianne graceful dissuade new outlived prospect followed. Uneasy no settle whence nature narrow in afraid. 
        At could merit by keeps child. While dried maids on he of linen in.</p>
    </div>
</body>
</html>