<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Porject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/project.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="top">
        <a href="/">Home</a>
        <hr>
        <p>Project</p>
        <hr>
        <a href="/Contact">Contact</a>
    </div>

    <h3>Here are some projects of mine!</h3>
    <div id="project_list">
        <div class="project"> 
            <div class="img"></div>
            <div class="text">
            <h5>Cool things</h5>
            <p>Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer.</p>
            </div>
        </div>
        <div class="project"> 
            <div class="img"></div>
            <div class="text">
            <h5>Cool things</h5>
            <p>Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer.</p>
            </div>
        </div>
        <div class="project"> 
            <div class="img"></div>
            <div class="text">
            <h5>Cool things</h5>
            <p>Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer.</p>
            </div>
        </div>

    </div>
</body>
</html>